/*
    *** TABLE OF CONTENTS ***
  ------------------------------------------------------------------------------  
  Following the name of each section is -n- and a 3 or 4 digit code, for example
  abc, which you can use find next to skip to the next section.
  ------------------------------------------------------------------------------
  
  Customized Normalize = !nrm
  Forms                = !frm
  Editor Styles        = !edt
  
*/

/* ==========================================================================
   Customized Normalize -n- !nrm   
   ========================================================================== */

/* Reset */


h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr, figure, body {
    margin:0;
    padding:0;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  HTML5 display definitions */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block;  *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }

/* Base */

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* Links */

a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

/* Typography */

abbr[title] { border-bottom: 1px dotted; cursor: help; }
dfn { font-style: italic; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Lists */

dd { margin: 0 0 0 20px; }
menu, ol, ul { padding: 0 0 0 40px; }
ol ol, ol ul, ul ol, ul ul { padding: 0 0 0 30px; }
nav ul, nav ol { list-style: none; list-style-image: none; }

/* Embeded content */

img { border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }

/* fluid embed */
img, figure, video, object, embed { max-width: 100%; height: auto; }

/* Tables */

table { border-collapse: collapse; border-spacing: 0; }

/* Forms */

fieldset { border: 0; }
legend { border: 0; white-space: normal;  *margin-left: -7px;
}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline;  *vertical-align: middle; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer;  *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { padding: 0; *height: 13px; *width: 13px; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
:invalid { box-shadow: none; }
:-moz-ui-invalid { box-shadow: none; }

/* =============================================================================
   Forms -n- !frm 
   ========================================================================== */

.fieldset {
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

label { display: block; margin-bottom: 3px; font-weight: 700; }

/* http://css-tricks.com/snippets/css/style-placeholder-text/ */
::-webkit-input-placeholder { color: #bfbfbf; }
:-moz-placeholder { color: #bfbfbf; /* Firefox 18- */ }
::-moz-placeholder { color: #bfbfbf; /* Firefox 19+ */ }
:-ms-input-placeholder { color: #bfbfbf; }

.input-text,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="time"],
select[multiple="multiple"],
select,
textarea {
  padding: 6px;
  outline-style: none;
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #bfbfbf;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #222;
  -webkit-transition: all 0.15s 0s linear;
  -moz-transition: all 0.15s 0s linear;
  -ms-transition: all 0.15s 0s linear;
  -o-transition: all 0.15s 0s linear;
  transition: all 0.15s 0s linear;
}

.input-text,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="time"],
select {
  height: 34px;
}

select[multiple="multiple"] { height: auto; }

.input-text:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select[multiple="multiple"]:focus,
textarea:focus {
  border-color: #808080;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.input-text,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
}

/* ==========================================================================
   Base -n- !bse   
   ========================================================================== */

html, body, button,
input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 700;
  text-rendering: optimizelegibility;
  color: inherit;
}
h1, .h1 {
  margin-bottom: 0.67em;
  font-size: 2em;
  line-height: 1.2;
}
h2, .h2 {
  margin-bottom: 0.83em;
  font-size: 1.5em;
  line-height: 1.2;
}
h3, .h3 {
  margin-bottom: 1em;
  font-size: 1.17em;
  line-height: 1.3;
}
h4, .h4 {
  margin-bottom: 1.33em;
  font-size: 1em;
  line-height: 1.25;
}
h5, .h5 {
  margin-bottom: 1.67em;
  font-size: .83em;
}
h6, .h6 {
  margin-bottom: 2.33em;
  font-size: .67em;
}

b, strong {
  font-weight: 700;
}

p,
menu,
figure,
fieldset,
ul, ol, dl,
blockquote,
table,
form,
pre,
hr {
  margin-bottom: 1em;
}

ul ul, ol ol,
ul ol, ol ul {
  margin: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #ccc;
  background: #fff;
}

/* http://css-tricks.com/snippets/css/style-placeholder-text/ */
::-webkit-input-placeholder { color: #bfbfbf; text-shadow: none; }
:-moz-placeholder { color: #bfbfbf; text-shadow: none; /* Firefox 18- */ }
::-moz-placeholder { color: #bfbfbf; text-shadow: none; /* Firefox 19+ */ }
:-ms-input-placeholder { color: #bfbfbf; text-shadow: none; }

a { color: #06c; }
a:visited { color: #048; }
a:hover { color: #09f; }

/* =============================================================================
   Editor Styles !n! !edt
   ========================================================================== */
body { max-width: 960px; margin: 0 auto; padding: 10px; }
/* figure and image float alignment */
.wp-caption {
  border: none;
  text-align: center;
  background-color: transparent;
  padding-top: 0;
  margin: 0;
  border-radius: 0;
}
.wp-caption-dd {
  font-size: .85em;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
.alignleft { float: left; margin: 0.3em 1.125em 1.125em 0; }
.alignright { float: right; margin: 0.3em 0 1.125em 1.125em; }
.alignnone, .aligncenter { display: block; }
.alignnone { margin: 0 0 1.125em; }
.aligncenter { margin: 0 auto 1.125em; }