/* ===============================================
  Max Range Queries
================================================== */

@media screen and (max-width: 992px) {

  /* == Header == */

  .header { background: #252525; }
  .header-inner { padding-top: 0; padding-bottom: 0; }

  .logo { height: 40px; margin: 5px 0; }
  .logo img { width: auto; height: 100%; }
  
  #sidebar { margin-bottom: 1em; }
  
  /* Button For Mobile Nav */
  .btn-navbar {
    float: right;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 1px 1px 2px rgba(255,255,255,.3), inset -1px 1px 2px rgba(0,0,0,.8);
    box-shadow: inset 1px 1px 2px rgba(255,255,255,.3), inset -1px 1px 2px rgba(0,0,0,.8);
  }
  .btn-navbar .icon-bar {
    display: block;
    width: 24px;
    height: 4px;
    margin-top: 4px;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow:  inset 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  .btn-navbar .icon-bar:first-child { margin-top: 0; }
  .btn-navbar:hover,
  .btn-navbar:active,
  .btn-navbar.active,
  .btn-navbar.disabled,
  .btn-navbar[disabled] {}
  .btn-navbar:active, .btn-navbar.active {}
  /* End Button */
  
  /* Navigation */  
  .main-nav-wrap { }
  .js .main-nav-wrap { display: none; }
  .main-nav-wrap .nav { float: none; margin: 0 0 9px; }
  .main-nav .nav > li { float: none; }
  .main-nav .nav > li > a { margin-bottom: 2px; }
  .main-nav .nav > li > a, .main-nav .dropdown-content a {
    padding: 6px 15px;
    font-weight: 700;
    color: #999999;
    border-radius: 3px;
  }
  .main-nav .dropdown-content li a { margin-bottom: 2px; }
  
  .main-nav .nav li > a:hover,
  .main-nav .nav > li.dropdown.open > a,
  .main-nav .nav > li.current-menu-item > a,
  .main-nav .nav > li.current-menu-parent > a,
  .main-nav .nav > li.current-menu-ancestor > a {
    color: #fff;
    background: #333;
  }
  /* Dropdown */
  .main-nav .nav .dropdown-content {
    position: static;
    top: auto;
    left: auto;
    float: none;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .main-nav .nav .caret, .main-nav .nav ul .caret {
    margin: 6px 0 0 2px;
    border-left: 4px solid #fff;
    border-right: none;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
  .main-nav .nav .dropdown.open > .dropdown-toggle .caret,
  .main-nav .nav ul .dropdown.open > .dropdown-toggle .caret {
    margin-top: 8px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }
  .main-nav .nav .dropdown-content li a { color: #999; }
  .main-nav .nav .dropdown-content li > a:hover { color: #fff; background: #444; }
  .main-nav .nav .dropdown-content .dropdown.open > a {
    color: #fff;
    background: #444;
  }
  .main-nav .nav .dropdown-content .current-menu-item > a,
  .main-nav .nav .dropdown-content .current-menu-parent > a,
  .main-nav .nav .dropdown-content .current-menu-ancestor > a,
  .main-nav .nav .dropdown-content .current_page_ancestor > a {
    color: #fff;
    background: #333;
  }
  .main-nav .nav .dropdown-content:before, .main-nav .nav .dropdown-content:after { display: none; }
  /* 2nd level and below drop down styles */
  .main-nav .nav ul .caret {
    display: inline-block;
    position: static;
  }
  /* Main End Navigation */
  
  .utility-nav.mobile { clear: both; float: none; }
  .utility-nav.mobile ul { text-align: left; }
  .utility-nav.mobile li a { color: #999; }
  .utility-nav.mobile ul li a:hover,
  .utility-nav.mobile ul li.current-menu-item a, 
  .utility-nav.mobile ul li.current-menu-parent a,
  .utility-nav.mobile ul li.current-menu-ancestor a,
  .utility-nav.mobile ul li.current_page_ancestor a {
    color: #fff;
  }

  /* == WooCommerce == */

  /* product list */

  .woocommerce ul.products .product.first { clear: none; }
  .woocommerce ul.products .product:nth-child(4n+1) { clear: both; }
  
}

@media screen and (max-width: 767px) {

  /* == Sidebar == */

  .sidebar { margin-top: 1em; }

  .widget { max-width: 250px; }

  /* == Footer == */

  .footer-nav > ul > li { display: list-item; }
  .footer-nav > ul > li > a { display: block; padding: 2px 0; }


  /* == Blog Comments == */

  .comment header .avatar { float: none; margin: 0; }
  .comment header h3 { float: none; }

  /* == WooCommerce == */

  /* product list */
  
  .woocommerce ul.products .product { width: 33.33333%; }
  .woocommerce ul.products .product:nth-child(4n+1) { clear: none; }
  .woocommerce ul.products .product:nth-child(3n+1) { clear: both; }

  /* column sets */

  .woocommerce .addresses .col-1, .woocommerce .addresses .col-2 { float: none; width: 100%; }
  .woocommerce .addresses .col-1 { padding-right: 0; }
  .woocommerce .addresses .col-2 { padding-left: 0; }

  /* tables */

  .woocommerce .shop_table.cart,
  .woocommerce .shop_table.cart tbody,
  .woocommerce .shop_table.cart thead,
  .woocommerce .shop_table.cart tfoot,
  .woocommerce .shop_table.cart tr,
  .woocommerce .shop_table.cart th,
  .woocommerce .shop_table.cart td,
  .woocommerce .shop_table.my_account_orders,
  .woocommerce .shop_table.my_account_orders tbody,
  .woocommerce .shop_table.my_account_orders tr,
  .woocommerce .shop_table.my_account_orders thead,
  .woocommerce .shop_table.my_account_orders tfoot,
  .woocommerce .shop_table.my_account_orders th,
  .woocommerce .shop_table.my_account_orders td,
  .woocommerce .shop_table.my_account_orders,
  .woocommerce .shop_attributes,
  .woocommerce .shop_attributes tbody,
  .woocommerce .shop_attributes tr,
  .woocommerce .shop_attributes thead,
  .woocommerce .shop_attributes tfoot,
  .woocommerce .shop_attributes th,
  .woocommerce .shop_attributes td,
  .woocommerce .shop_attributes {
    display: block;
  }
  .woocommerce .shop_table.cart .cart_table_item th,
  .woocommerce .shop_table.cart .cart_table_item td,
  .woocommerce .shop_table.my_account_orders th,
  .woocommerce .shop_table.my_account_orders td,
  .woocommerce .shop_attributes th,
  .woocommerce .shop_attributes td {
    padding: 0;
    border: none;
  }
  .woocommerce .shop_table.cart th,
  .woocommerce .shop_table.my_account_orders th,
  .woocommerce .shop_attributes th {
    display: none;
  }
  .woocommerce .shop_attributes p { margin: 0; }

  /* Account Page */

  /* recent orders table */

  .woocommerce .my_account_orders .order-number:before {
    content: "Order: ";
    font-weight: 700;
  }
  .woocommerce .my_account_orders .order-date:before {
    content: "Date: ";
    font-weight: 700;
  }
  .woocommerce .my_account_orders .order-status:before {
    content: "Status: ";
    font-weight: 700;
  }
  .woocommerce .my_account_orders .order-total:before {
    content: "Total: ";
    font-weight: 700;
  }
  .woocommerce .my_account_orders .order-actions .button { margin: 0.5em 0 1em 0; }

  /* cart page */

  .woocommerce .shop_table.cart .cart_table_item {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
  }
  .woocommerce .shop_table.cart .cart_table_item:first-child {
    padding-top: 1em;
    border-top: 1px solid #ddd;
  }
  .woocommerce .shop_table.cart a.remove,
  .woocommerce .shop_table.cart .product-quantity,
  .woocommerce .shop_table.cart .product-thumbnail {
    text-align: left;
  }
  .woocommerce .shop_table.cart .product-remove,
  .woocommerce .shop_table.cart .product-thumbnail {
    float: left;
  }
  .woocommerce .shop_table.cart .product-remove { margin-right: 10px; }
  .woocommerce .shop_table.cart td.product-name,
  .woocommerce .shop_table.cart td.product-price,
  .woocommerce .shop_table.cart td.product-quantity,
  .woocommerce .shop_table.cart td.product-subtotal {
    margin-bottom: 0.5em;
    padding-left: 125px;
  }
  .woocommerce .shop_table.cart .product-quantity .quantity { margin: 0; }
  .woocommerce .shop_table.cart td.product-subtotal { margin-bottom: 0; }
  .woocommerce .shop_table.cart .product-price:before {
    content: "Price: ";
    font-weight: 700;
  }
  .woocommerce .shop_table.cart .product-subtotal:before {
    content: "Total: ";
    font-weight: 700;
  }
  .woocommerce .shop_table.cart .actions .coupon .input-text { width: 150px;}
  .woocommerce .shop_table.cart .actions .checkout-button { margin: 1em 0 0 0;}


}

@media screen and (max-width: 479px) {

  /* == WooCommerce == */

  /* single product page */

  .woocommerce .product .images,
  .woocommerce .product .entry-summary {
    float: none;
    width: 100%;
    padding-right: 10px;
  }
  .woocommerce .product .images { margin-bottom: 1em; }

  .woocommerce-tabs .tabs li {
    display: list-item;
    margin-left: 0;
  }

  /* forms */

  .woocommerce .form-row-wide,
  .woocommerce .form-row select,
  .woocommerce .form-row .input-text {
    width: 100%;
  }
  .woocommerce .form-row-wide select {
    width: 100%;
    padding-right: 0;
  }
  .woocommerce .form-row-first,
  .woocommerce .form-row-last {
    float: none;
    width: 100%;
  }
  .woocommerce .form-row-first { padding-right: 0; }
  .woocommerce .form-row-last { padding-left: 0; }
  .woocommerce .shipping-calculator-form .form-row-wide { width: 100%; }
  .woocommerce .shipping-calculator-form .form-row-wide select { width: 100%; }

}

@media screen and (max-width: 320px) {

  /* == WooCommerce == */

  /* product list */

  .woocommerce ul.products .product { width: 50%; }
  .woocommerce ul.products .product:nth-child(4n+1),
  .woocommerce ul.products .product:nth-child(3n+1) { clear: none; }
  .woocommerce ul.products .product:nth-child(2n+1) { clear: both; }

  /* column sets */

  .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2 { float: none; width: 100%; }
  .woocommerce .col2-set .col-1 { padding-right: 0; }
  .woocommerce .col2-set .col-2 { padding-left: 0; }

}

/* ===============================================
  Min and Max Range Queries
================================================== */


@media screen and (min-width: 480px) and (max-width: 767px) {

  /* == WooCommerce == */
  
  /* column sets */

  .woocommerce .col2-set .col-1 { padding-right: 5px; }
  .woocommerce .col2-set .col-2 { padding-left: 5px; }

}

